    /*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
    
    body {
        background: #fff;
        color: #666666;
        font-family: "Open Sans", sans-serif;
    }
    
    a {
        color: #edcd96;
    }
    
    a:hover,
    a:active,
    a:focus {
        color: #edcd96;
        outline: none;
        text-decoration: none;
    }
    
    p {
        padding: 0;
        margin: 0 0 30px 0;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        margin: 0 0 20px 0;
        padding: 0;
    }
    /* Prelaoder */
    
    #preloader {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 999;
        width: 100%;
        height: 100%;
        overflow: visible;
        background: #fff url("../../img/preloader.svg") no-repeat center center;
    }
    /* Back to top button */
    
    .back-to-top {
        position: fixed;
        display: none;
        background: rgba(0, 0, 0, 0.2);
        color: #fff;
        padding: 6px 15px 6px 12px;
        font-size: 16px;
        border-radius: 2px;
        right: 15px;
        bottom: 15px;
        transition: background 0.5s;
        transform: rotate(90deg);
    }
    
    @media (max-width: 768px) {
        .back-to-top {
            bottom: 15px;
        }
    }
    
    .back-to-top:focus {
        background: rgba(0, 0, 0, 0.2);
        color: #fff;
        outline: none;
    }
    /* .back-to-top:hover {
    background: #2dc997;
    color: #fff;
} */
    /*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
    
    #header {
        padding: 30px 0;
        height: 92px;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        transition: all 0.5s;
        z-index: 997;
    }
    
    #header #logo {
        float: left;
        margin-top: -15px;
    }
    
    #header #logo a {
        font-size: 25px;
        color: #e9ca94;
        font-weight: 600;
    }
    
    #header #logo .logo-text {
        font-size: 13px;
        display: block;
        color: #fff;
        text-align: center;
        margin-top: -5px;
    }
    /* #header #logo h1 a,
#header #logo h1 a:hover {
    color: #fff;
} */
    /* #header #logo img {
    padding: 0;
    margin: 0;
} */
    /* @media (max-width: 768px) {
    #header #logo h1 {
        font-size: 26px;
    }
    #header #logo img {
        max-height: 40px;
    }
} */
    
    #header.header-fixed {
        /* background: rgba(52, 59, 64, 0.9); */
        background: rgb(9 4 34 / 86%);
        padding: 20px 0;
        height: 72px;
        transition: all 0.5s;
    }
    /*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
    
    #hero {
        display: table;
        width: 100%;
        height: 100vh;
        background: url(../../img/welcome-banner.jpg) top center fixed;
        background-size: cover;
        position: relative;
    }
    
    .bar {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1px;
    }
    
    #hero .hero-container {
        /* background: rgba(0, 0, 0, 0.6); */
        background: rgb(7 4 23 / 80%);
        display: table-cell;
        margin: 0;
        padding: 0 10px;
        text-align: center;
        vertical-align: middle;
    }
    
    #hero h1 {
        margin: 30px 0 10px 0;
        font-size: 36px;
        font-weight: 500;
        line-height: 40px;
        text-align: center;
        /* text-transform: uppercase; */
        color: #e1c390;
        /* background: rgb(255 255 255 / 25%); */
        padding: 15px 0;
        margin-left: auto;
        /* width: 80%; */
        margin-right: auto;
    }
    
    #hero h1 img {
        vertical-align: baseline;
    }
    
    #hero h2 {
        color: #eee;
        margin-bottom: 15px;
        font-size: 24px;
    }
    
    @media (max-width: 768px) {
        #hero h2 {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 30px;
        }
    }
    
    #hero .btn-get-started {
        font-family: "Poppins", sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 8px 28px;
        border-radius: 50px;
        transition: 0.5s;
        margin: 10px;
        border: 2px solid #fff;
        color: #fff;
    }
    
    #hero .btn-get-started:hover {
        background: #2dc997;
        border: 2px solid #2dc997;
    }
    /*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
    /* Nav Menu Essentials */
    
    .nav-menu,
    .nav-menu * {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    .nav-menu ul {
        position: absolute;
        display: none;
        top: 100%;
        left: 0;
        z-index: 99;
    }
    
    .nav-menu li {
        position: relative;
        white-space: nowrap;
    }
    
    .nav-menu>li {
        float: left;
    }
    
    .nav-menu li:hover>ul,
    .nav-menu li.sfHover>ul {
        display: block;
    }
    
    .nav-menu ul ul {
        top: 0;
        left: 100%;
    }
    
    .nav-menu ul li {
        min-width: 180px;
    }
    /* Nav Menu Arrows */
    
    .sf-arrows .sf-with-ul {
        padding-right: 30px;
    }
    
    .sf-arrows .sf-with-ul:after {
        content: "\f107";
        position: absolute;
        right: 15px;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
    }
    
    .sf-arrows ul .sf-with-ul:after {
        content: "\f105";
    }
    /* Nav Meu Container */
    
    #nav-menu-container {
        float: right;
        margin: 0;
    }
    
    @media (max-width: 768px) {
        #nav-menu-container {
            display: none;
        }
    }
    /* Nav Meu Styling */
    
    .nav-menu a {
        padding: 0 8px 10px 8px;
        text-decoration: none;
        display: inline-block;
        color: #fff;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 13px;
        outline: none;
    }
    
    .nav-menu>li {
        margin-left: 10px;
    }
    
    .nav-menu>li>a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #cbae80;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    
    .nav-menu a:hover:before,
    .nav-menu li:hover>a:before,
    .nav-menu .menu-active>a:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    
    .nav-menu ul {
        margin: 4px 0 0 0;
        border: 1px solid #e7e7e7;
    }
    
    .nav-menu ul li {
        background: #fff;
    }
    
    .nav-menu ul li:first-child {
        border-top: 0;
    }
    
    .nav-menu ul li a {
        padding: 10px;
        color: #333;
        transition: 0.3s;
        display: block;
        font-size: 13px;
        text-transform: none;
    }
    
    .nav-menu ul li a:hover {
        background: #2dc997;
        color: #fff;
    }
    
    .nav-menu ul ul {
        margin: 0;
    }
    /* Mobile Nav Toggle */
    
    #mobile-nav-toggle {
        position: fixed;
        right: 0;
        top: 0;
        z-index: 999;
        margin: 20px 20px 0 0;
        border: 0;
        background: none;
        font-size: 24px;
        display: none;
        transition: all 0.4s;
        outline: none;
        cursor: pointer;
    }
    
    #mobile-nav-toggle img {
        max-width: 30px;
        vertical-align: baseline;
    }
    
    @media (max-width: 768px) {
        #mobile-nav-toggle {
            display: inline;
        }
    }
    /* Mobile Nav Styling */
    
    #mobile-nav {
        position: fixed;
        top: 0;
        padding-top: 18px;
        bottom: 0;
        z-index: 998;
        background: rgb(11 5 33 / 97%);
        left: -260px;
        width: 260px;
        overflow-y: auto;
        transition: 0.4s;
    }
    
    #mobile-nav ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    #mobile-nav ul li {
        position: relative;
    }
    
    #mobile-nav ul li a {
        color: #fff;
        font-size: 16px;
        overflow: hidden;
        padding: 10px 22px 10px 15px;
        position: relative;
        text-decoration: none;
        width: 100%;
        display: block;
        outline: none;
    }
    
    #mobile-nav ul li a:hover {
        color: #fff;
    }
    
    #mobile-nav ul li li {
        padding-left: 30px;
    }
    
    #mobile-nav ul .menu-has-children i {
        position: absolute;
        right: 0;
        z-index: 99;
        padding: 15px;
        cursor: pointer;
        color: #fff;
    }
    
    #mobile-nav ul .menu-has-children i.fa-chevron-up {
        color: #2dc997;
    }
    
    #mobile-nav ul .menu-item-active {
        color: #2dc997;
    }
    
    #mobile-body-overly {
        width: 100%;
        height: 100%;
        z-index: 997;
        top: 0;
        left: 0;
        position: fixed;
        background: rgb(52 59 64 / 32%);
        display: none;
    }
    /* Mobile Nav body classes */
    
    body.mobile-nav-active {
        overflow: hidden;
    }
    
    body.mobile-nav-active #mobile-nav {
        left: 0;
    }
    
    body.mobile-nav-active #mobile-nav-toggle {
        color: #fff;
    }
    /*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
    /* Sections Header
--------------------------------*/
    
    .section-header .section-title {
        font-size: 32px;
        color: #111;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        margin-bottom: 5px;
    }
    
    .section-header .section-description {
        text-align: center;
        padding-bottom: 40px;
        color: #999;
    }
    /* testimonials Section
--------------------------------*/
    
    #testimonials {
        background-color: #c7c3d7;
        padding: 80px 0;
        text-align: center;
        position: relative;
    }
    
    #testimonials h2,
    #testimonials p {
        text-align: center;
        color: #2e245d;
    }
    
    .title {
        position: relative;
        margin-bottom: 2px;
        color: #2e245d;
    }
    
    .border {
        width: 25%;
        background-color: #202020;
        margin: 0 auto;
        margin-top: 5px;
        margin-bottom: 8px;
    }
    /**
Message from sam section
*/
    
    #message {
        background-image: url('../../img/message-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        padding: 30px 0;
        background-attachment: fixed;
        position: relative;
    }
    
    .overlay::before {
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgb(46 36 93 / 44%);
        position: absolute;
    }
    /**
Services section
*/
    
    #services {
        text-align: center;
        background-color: #18122e;
        padding: 30px 0;
    }
    
    #services .content-header .title,
    #services .content-header .sub-title,
    #services .content-header p {
        color: #fff;
    }
    
    #services .sub-title {
        font-size: 25px;
    }
    
    #services p {
        margin-bottom: 10px;
        font-size: 18px;
    }
    /* Video container */
    
    .video-container {
        overflow: hidden;
        position: relative;
        width: 100%;
    }
    
    .video-container::after {
        padding-top: 56.25%;
        display: block;
        content: '';
    }
    
    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    /* Tab */
    
    .b-tab {
        padding: 20px;
        border: 1px solid #000;
        display: none;
    }
    
    .b-tab.active {
        display: block;
    }
    
    .b-nav-tab {
        display: inline-block;
        padding: 20px;
    }
    
    .b-nav-tab.active {
        color: #ff4200;
    }
    
    .nav-tabs {
        margin-top: 30px;
        /* border-color: #2e245d; */
        background-color: #fff;
        /* border-width: 3px; */
    }
    
    .nav-tabs .nav-link {
        border-radius: 0;
        color: #2e245d;
        font-weight: 600;
        border: 0;
        transition: all 0.3s ease-in;
        padding: 15px 0;
        background: rgb(0 0 0 / 10%);
    }
    
    .tab-content {
        background-color: white;
        border: 4px solid rgb(151 151 151 / 28%);
        border-top: 0;
    }
    
    .tab-content p {
        font-size: 20px;
        padding-top: 10px;
        font-weight: 600;
    }
    
    .tab-content ul {
        text-align: left;
    }
    
    .tab-content ul li {
        color: #2e245d;
    }
    
    .nav-tabs .nav-link:hover {
        border-width: 3px;
    }
    
    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        background-color: #2e245d;
    }
    /* Call To Action Section
--------------------------------*/
    
    #call-to-action {
        background: linear-gradient(rgb(44 39 65), rgba(0, 0, 0, 0.6)), url(../../img/call-to-action-bg.jpg) fixed 50% 70px;
        background-size: cover;
        padding: 80px 0;
        background-repeat: no-repeat;
    }
    
    #call-to-action .cta-title {
        color: #fff;
        font-size: 28px;
    }
    
    #call-to-action b {
        color: #ebc98d;
    }
    /* Pricing Section
--------------------------------*/
    
    #pricing {
        text-align: center;
        padding: 30px 0;
        background-color: #f1f4fa;
    }
    
    #pricing .card {
        border: 0;
    }
    
    #pricing .border {
        border-color: #2e245d !important;
    }
    
    #pricing .card-body {
        box-shadow: 7px 7px 30px -5px rgb(0 0 0 / 10%);
    }
    /* FAQ Section
--------------------------------*/
    
    #faq {
        text-align: center;
        padding: 30px 0;
        background-color: #fff;
    }
    
    #faq #accordion .card-body {
        background: #edf0f6;
    }
    
    #faq #accordion .card {
        border-radius: 0;
    }
    
    #faq #accordion .collapse {
        max-height: 0;
        overflow: hidden;
        display: block;
    }
    
    #faq #accordion .collapse.show-content {
        max-height: 500px;
    }
    
    #faq #accordion .show-content {
        transition: max-height 0.3s ease-in;
    }
    
    #faq #accordion {
        text-align: left;
    }
    
    #faq #accordion .card-header {
        background-color: rgb(237 240 246);
        border-color: rgb(237 240 246);
        cursor: pointer;
        position: relative;
        padding-right: 30px;
    }
    
    #faq #accordion .card-header:hover {
        background-color: #d7dde7;
    }
    
    #faq #accordion .card-header::after {
        content: " \276E";
        position: absolute;
        right: 20px;
        font-size: 25px;
        font-weight: lighter;
        top: 7px;
        color: #7693cc;
        transform: rotate(271deg);
    }
    
    #faq #accordion .card-header.active {
        background: rgb(44 39 65);
        color: #fff;
    }
    
    #faq #accordion .card-header.active::after {
        transform: rotate(90deg);
        color: #fff;
    }
    /* Contact Section
--------------------------------*/
    
    #contact {
        text-align: center;
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../img/call-to-action-bg.jpg);
        background-size: cover;
        padding: 80px 0;
        background-repeat: no-repeat;
        background-position: top;
        color: #fff;
        padding-bottom: 40px;
    }
    
    #contact .address-container {
        background: rgb(4 4 5 / 40%);
        padding: 59px 0;
    }
    
    .address-container address {
        color: #c4c2bd;
        font-size: 20px;
    }
    
    .address-container h5 {
        color: #d18f40;
        font-weight: 700;
        margin-bottom: 0 !important;
    }
    
    #contact .title {
        color: #fff;
    }
    
    #contact p {
        margin-bottom: 5px;
    }
    
    #contact .social-links {
        font-size: 18px;
        color: #fff;
        margin: 0 auto;
        padding: 0;
        text-align: left;
        list-style: none;
        display: inline-block;
    }
    
    @media (max-width: 768px) {
        #contact .social-links {
            text-align: center;
        }
    }
    
    #contact .social-links .item {
        display: inline-flex;
        align-content: space-between;
        padding-right: 35px;
    }
    
    #contact .social-links img {
        max-width: 20px;
        vertical-align: baseline;
        margin-right: 10px;
    }
    
    #contact .social-links a:hover {
        color: #fff;
    }
    
    #contact .form #sendmessage {
        color: #2dc997;
        border: 1px solid #2dc997;
        display: none;
        text-align: center;
        padding: 5px;
        font-weight: 600;
        margin-bottom: 15px;
    }
    
    #contact .form #errormessage {
        color: #ff9800;
        display: none;
        border: 1px solid #ff9800;
        text-align: center;
        padding: 5px;
        font-weight: 600;
        margin-bottom: 15px;
    }
    
    .show {
        display: block !important;
    }
    
    #contact .form .validation {
        color: #ffc107;
        display: none;
        margin: 0 0 -9px;
        font-weight: 400;
        font-size: 13px;
        text-align: left;
    }
    
    #contact .form {
        background: rgb(255 255 255 / 10%);
        padding: 15px;
    }
    
    #contact .form input,
    #contact .form textarea {
        border-radius: 0;
        box-shadow: none;
        font-size: 16px;
        color: #2e245d;
        font-weight: 600;
        border: 0;
    }
    
    #contact .form button[type="submit"] {
        background: #2e245d;
        border: 2px solid transparent;
        padding: 10px 24px;
        color: #fff;
        transition: 0.4s;
        cursor: pointer;
        margin-top: 10px;
    }
    
    #contact .form button[type="submit"]:hover {
        border-color: #fff;
    }
    /*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
    
    #footer {
        background: #2e245d;
        padding: 30px 0;
        color: #fff;
        font-size: 14px;
    }
    
    #footer .copyright {
        text-align: center;
    }
    
    #footer .credits {
        padding-top: 10px;
        text-align: center;
        font-size: 13px;
        color: #ccc;
    }
    /**
 Text animation box
**/
    
    .bb::before,
    .bb::after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    
    .bb {
        position: relative;
        width: 200px;
        height: 200px;
        margin: auto;
        background: url("../../img/logo-eye.png") no-repeat 50%/85% rgba(0, 0, 0, 0);
        color: #e9ca94;
        box-shadow: inset 0 0 0 1px #e9ca94;
        margin-top: 100px;
        /* margin-bottom: 20px; */
    }
    
    .bb::before,
    .bb::after {
        content: "";
        z-index: 1;
        margin: -5%;
        box-shadow: inset 0 0 0 2px;
        animation: clipMe 8s linear infinite;
    }
    
    .bb::before {
        animation-delay: -4s;
    }
    
    @keyframes clipMe {
        0%,
        100% {
            clip: rect(0px, 220px, 2px, 0px);
        }
        25% {
            clip: rect(0px, 2px, 220px, 0px);
        }
        50% {
            clip: rect(218px, 220px, 220px, 0px);
        }
        75% {
            clip: rect(0px, 220px, 220px, 218px);
        }
    }
    /* Media quires */
    
    @media (max-width: 768px) {
        #hero {
            height: 90vh;
        }
        #hero h1 {
            font-size: 25px;
            line-height: 36px;
            width: 100%;
        }
        .bb {
            width: 250px;
            height: 250px;
            margin-top: 0px;
        }
        .bb::before,
        .bb::after {
            margin: 15px;
        }
        #testimonials {
            padding: 30px 0;
        }
        .h2,
        h2 {
            font-size: 25px;
        }
        #call-to-action {
            padding: 25px 0;
        }
        #call-to-action .cta-title {
            font-size: 23px;
        }
        #contact {
            padding: 20px 0;
        }
    }
    /*================== Exit intent=============== */
    
    #exitEntendModal {
        /* background-color: rgb(36 31 59 / 60%); */
    }
    
    #exitEntendModal .modal-body {
        background: url('../../img/support.jpg');
    }
    
    @media (min-width: 576px) {
        #exitEntendModal .modal-dialog {
            max-width: 596px;
            margin: 30px auto;
        }
    }
    
    #exitEntendModal .over-layer {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        top: 0;
        background-color: rgb(255 255 255 / 88%);
    }
    
    #exitEntendModal h2 {
        color: #1f6c6c;
        font-size: 1.8rem;
    }
    
    #exitEntendModal .stick_content {
        position: relative;
        z-index: 1;
        padding: 60px 0;
    }
    
    #exitEntendModal .stick_close {
        cursor: pointer;
        color: #4c4c4c;
        text-decoration: none;
        font-size: 3rem;
        font-weight: 100;
        position: absolute;
        right: 15px;
        top: 0;
        transition: all 0.2s ease-in;
        z-index: 1;
    }
    
    #exitEntendModal .stick_close:hover {
        transform: rotate(24deg);
    }
    
    .stick_block_layer {
        background: rgba(0, 0, 0, 0.6);
        opacity: 0.7;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
        filter: alpha(opacity=70);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }
    
    .btn-whatsapp {
        background-color: #1f6c6c;
        font-size: 1.5rem;
        color: #fff;
    }
    
    @media (max-width: 575.98px) {
        .btn-whatsapp {
            font-size: 1rem;
        }
        #exitEntendModal h2 {
            font-size: 1.5rem;
        }
    }
    
    .btn-whatsapp img {
        max-width: 50px;
    }
    
    .fade2 {
        transform: scale(0.9);
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: all .2s linear;
        display: block !important;
    }
    
    .fade2.show {
        height: auto;
        overflow: unset;
        opacity: 1;
        transform: scale(1);
    }